<html>  
    <head>  
        <meta charset="utf-8">  
        <title>admin-flow</title> 
        {% load static %}
        <link href="{%static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <script src="{%static 'bootstrap/js/jquery.min.js' %}"></script>
        <script src="{%static 'bootstrap/js/bootstrap.min.js' %}"></script> 
        <style>
            p{
                display: none;
            }
        </style>
    </head> 

    <body id="body">  

        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="/sdn-fill">SDN_FiLL</a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li>
                                     <a href="/admin-topo">Topo</a>
                                </li>
                                <li>
                                     <a href="/admin-table">Table</a>
                                </li>
                                <li class="active">
                                     <a href="/admin-flow">Flow</a>
                                </li>                                
                                <form id="form-nav" class="navbar-form navbar-left" role="search" action="/admin-flow/" method="post">{% csrf_token %}
                                    <div class="form-group">
                                        <select id="select-nav" class="form-control" name="table-select" onchange="chg_input_stat(this)">
                                            <option value="dpall">All OVS</option>
                                            <option value="dp">The OVS</option>
                                        </select>
                                        <input id="input-nav" name="table-input" class="form-control" type="text" placeholder="specify the dpid" required disabled/>
                                        <button type="button" class="btn btn-default" onclick="my_submit()">Show Flow</button>
                                    </div> 
                                </form>
                            </ul>
                        </div>
                    </nav>

                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <div id="div-dp"></div>
                            <div id="div-dpall"></div>
                        </div>
                    </div>

                    <p id="table">{{table}}</p>
                    <p id="order">{{order}}</p>
                    <p id="dpid">{{dpid}}</p>

                </div>


            </div>
        </div>

        <script>
            //initial form
            var select = document.getElementById("select-nav");  
            this.order = document.getElementById("order").innerHTML;
            this.dplist = [];
                
            for(var i = 0; i < select.options.length; i++){  
                if(select.options[i].value == this.order){  
                    select.options[i].selected = true;  
                    break;  
                }
            }
            if('dp' == this.order){
                document.getElementById("input-nav").disabled = "";;
            }  

            var tbdata = document.getElementById("table").innerHTML;

            if(tbdata == '0'){
                alert('Connect to controller error.')
            }
            else{

                var tb = eval(tbdata);

                this.dplist = tb[0]['dpid_list'];
                createTableByX(tb[0][this.order],this.order);
            }

            function createTableByX(_data,x){

                var x_list = {'dpall':[
                                            'div-dpall',
                                            ['DPID','PRIORITY','TABLE_ID','DTIME','ITIME','HTIME','MATCH','ACTIONS'],
                                            'All OVS'
                                ],
                              'dp':[
                                            'div-dp',
                                            ['PRIORITY','TABLE_ID','DTIME','ITIME','HTIME','MATCH','ACTIONS'],
                                            'The OVS'
                                ]
                             };

                if(x == 'dp'){
                    dpid = document.getElementById("dpid").innerHTML;
                    x_list[x][2] = x_list[x][2] + " (dpid=" + dpid + ")";

                }

                var Div = document.getElementById(x_list[x][0]);
                var tbname = document.createElement('h4');
                tbname.innerHTML = x_list[x][2];
                Div.appendChild(tbname);

                this.lines = x_list[x][1].length;
                this.data = _data;
                this.rows = _data.length; 

                var Table = document.createElement('table');
                
                Table.className = "table table-striped table-bordered table-hover table-condensed";

                var rhead = Table.insertRow(0)
                rhead.className = "success";
                for(var j = 0; j < this.lines; j++){
                    var cells = rhead.insertCell(j);
                    cells.innerHTML = x_list[x][1][j];
                    cells.style.textAlign = "center";
                }

                for(var i = 0; i < this.rows; i++){
                    var row = Table.insertRow(i+1);
                    row.className = "";
                    for(var j = 0; j < this.lines; j++){
                        var cells = row.insertCell(j);
                        cells.innerHTML = this.data[i][ x_list[x][1][j] ];
                        cells.style.textAlign = "center";
                    }
                }

                Div.appendChild(Table);
            }

            function chg_input_stat(select){
                var order = select.options[select.selectedIndex].text;
                var input = document.getElementById("input-nav");
                if(order == "The OVS"){
                    input.disabled = "";
                }
                else{
                    input.disabled = "disabled";
                }
            }

            function my_submit(){
                var form = document.getElementById("form-nav");
                var order = select.options[select.selectedIndex].text;
                if(order == "The OVS"){
                    if(value_check()){
                        form.submit();
                    }
                }
                else{
                    form.submit();
                }
            }

            function value_check(){
                var input = document.getElementById("input-nav");
                if(input.value == ''){
                    alert('Please specify the dpid!');
                    return false;
                }

                inflag = false;
                for(var x in this.dplist){
                    if(this.dplist[x] == input.value){
                        createTableByX(tb[0][this.order],this.order);
                        inflag = true;
                        break;
                    }
                }
                if(!inflag){
                    alert('No this dpid! The dpid_list is ' + this.dplist.toString());
                }
                return inflag;
            }

        </script>
    </body>  
</html>  
